<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/keyboards">
		<img src="/img/new2.svg" alt="Brand Image" height="60" width="75">
	</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/keyboards">Keyboards <span class="sr-only">(current)</span></a>
      </li>
      <% if (user) { %>
        <li class="nav-item">
          <a class="nav-link" href="/keyboards/new">Add Review <span class="sr-only">(current)</span></a>
        </li>
      <% } %>
      <% if(user) { %>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout <span class="sr-only">(current)</span></a>
          </li>
      <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signup">Sign Up <span class="sr-only">(current)</span></a>
          </li>
      <% } %>
    </ul>
    <form class="form-inline my-2 my-lg-0" action="/keyboards/search" method="GET">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" name="term" aria-label="Search">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>